<%- include('../partials/header__') %>
<%- include('../partials/sidebar__') %>

	<!-- page content -->
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>Manajemen Bidang </h3>
        </div>

        <div class="title_right">
          <div class="col-md-5 col-sm-5  form-group pull-right top_search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12 col-sm-12 ">
          <div class="x_panel">
            <div class="x_title">
              <h2>Input Bidang <small>Masukkan beberapa bidang dibawah ini</small></h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <br />
              <form action="/bidang/tambah" method="POST" id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                <div class="item form-group">
                  <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">Nama Bidang <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 ">
                    <input type="text" id="nama_bidang" name="nama_bidang" required="required" class="form-control " autocomplete="off">
                  </div>
                </div>

                <div class="ln_solid"></div>
                <div class="item form-group">
                  <div class="col-md-6 col-sm-6 offset-md-3">
                    <button class="btn btn-danger" type="reset">Reset</button>
                    <button type="submit" class="btn btn-success">Submit</button>
                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Data Bidang <small>Telah di inputkan data bidang dibawah ini</small></h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
            </ul>

            <div class="clearfix"></div>

          </div>

          <div class="x_content">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Nama Bidang</th>
                  <th>Aksi</th>
                </tr>
              </thead>
              <tbody>
                <% bidang.forEach((item, index) => { %> <!-- Looping data bidang -->
                  <tr>
                    <th scope="row"><%= index + 1 %></th> <!-- Menampilkan nomor urut -->
                    <td><%= item.nama_bidang %></td> <!-- Menampilkan nama_bidang dari data -->
                    <td>
                      <a href="/bidang/edit/<%= item.id_bidang %>">Edit</a> | 
                      <a href="/bidang/delete/<%= item.id_bidang %>" onclick="return confirm('Apakah Anda yakin ingin menghapus bidang ini?')">Delete</a>
                    </td>
                  </tr>
                <% }); %>
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
  </div>

<%- include('../partials/footer__') %>